<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Sinatra Blog</title>
  </head>

  <body>

    <div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/">Home</a>
      <a class="blog-nav-item" href="/new">Add post</a>
    </nav>
  </div>
  </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Sinatra Blog</h1>
        <p class="lead blog-description">Sample blog made with Sinatra and bootstrap</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
        <% @posts.each do |post| %>

          <div class="blog-post">
              <a href="/post/<%= post.pid %>">
              <h2 class="blog-post-title"><%= post.title %></h2></a>
            <p class="blog-post-meta"><%= post.date.strftime("%b %d %Y %H:%M:%S")%>, <%= post.author %> in <%= post.category.capitalize %></p>
            <p><%= post.text[0..200] %> ...</p>
        </div>
        <% end %>

        </div><!-- /.blog-main -->

    </div><!-- /.container -->

    <footer class="blog-footer">

    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
