<html>
    <head>
        <title>Movie Lovers</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="searchbar">
            <div class="form-group">
            <form action="/search" method="post" class="form-inline">
                <input type="text" name="query" class="form-control">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/end" class="btn btn-primary" role="button">End</a> Score: <%= @score %>
            </form>
            </div>
        </div>
    <div class="fluid-container">
        <p><h2><%= @question %></h2></p>
        <div class="movielist">
            <% if @movies %>

                <div class="row">
                <% @movies[0..2].each do |movie| %>
                    <div class="movie">
                        <a href="/answer/<%= movie.id %>">
                        <img src="<%= movie.poster %>" class="answer" id="<%= movie.id %>">
                        </a>
                    </div>
                <% end %>
                </div>

                <div class="row">
                <% @movies[3..5].each do |movie| %>
                    <div class="movie">
                        <a href="/answer/<%= movie.id %>">
                        <img src="<%= movie.poster %>" class="answer" id="<%= movie.id %>">
                        </a>
                    </div>
                <% end %>
                </div>

                <div class="row">
                <% @movies[6..8].each do |movie| %>
                    <div class="movie">
                        <a href="/answer/<%= movie.id %>">
                        <img src="<%= movie.poster %>" class="answer" id="<%= movie.id %>">
                        </a>
                    </div>
                <% end %>
                </div>

            <% end %>
        </div>
    </div>
    </body>
</html>
