<%= form_for concert do |f| %>
    <div class="form-group">
        <%= f.label "Band name" %>
        <%= f.text_field :band, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Venue" %>
        <%= f.text_field :venue, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "City" %>
        <%= f.select :city, class: "form-control" do %>
            <% Concert.cities.each do |c| %>
                <%= content_tag(:option, c, value: c) %>
            <% end %>
        <% end %>
    </div>
    <div class="form-group">
        <%= f.label "Date" %>
        <%= f.date_select :date, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Admission" %>
        <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Info" %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Poster upload" %>
        <%= f.file_field :poster %>
    </div>
    <div>
    <%= f.submit "Add", class: "form-control" %>
    </div>
<% end %>
