<h1><%= @product.title %></h1>

<%= flash_messages %>

<div class="product-item">
    <p><b>Description</b></p>
    <p><%= @product.description %></p>
    <p><b>Current bid</b></p>
    <p><%= @product.minimum_bid %> $</p>
    <p><b>Deadline</b></p>

    <%= render "new_bid_form", user: @user, product: @product, bid: @bid %>

    <%= render "bids", product: @product %>



</div>

<div class="product-show-nav-links">
    <%= link_to "Back to products", user_products_path(@product.user_id) %> 
    <%= link_to "Back to product index", products_path %> 
</div>
